* {
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 94vw;
    margin: 0 auto;
    font:
      1.2em Helvetica,
      arial,
      sans-serif;
  }
  
  .wrapper > * {
    border: 2px solid goldenrod;
    background-color: lightyellow;
    padding: 5px;
  }
  
  .game-head {
    grid-area: header;
  }
  .game-map {
    grid-area: map;
  }
  .game-actions {
    grid-area: actions;
  }
  .game-state {
    grid-area: status;
  }
  .game-newsticker {
    grid-area: ticker;
  }
  
  .wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "status"
      "map"
      "actions"
      "ticker";
  }
  
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 2fr 2fr;
      grid-template-areas:
        "header  header"
        "status actions"
        "map  map"
        "ticker ticker";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "actions map status"
        "ticker ticker ticker";
    }
  }  