* {
    box-sizing: border-box;
  }
  .wrapper {
    position: fixed;
    inset: 0;
    margin: 0 auto;
    font:
      1.2em Helvetica,
      arial,
      sans-serif;
  }
  
  .wrapper > * {
    border: 2px solid goldenrod;
    background-color: lightyellow;
    padding: 5px;
  }
  
  .game-head {
    grid-area: header;
  }
  .game-turn {
    grid-area: turn;
  }
  .game-map {
    grid-area: map;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .game-actions {
    grid-area: actions;
  }
  .game-state {
    grid-area: status;
  }
  .game-newsticker {
    grid-area: ticker;
  }

  #turn-meter {
    height: 100px;
    width: 100%;
    padding: 0 5px;
  }

  .meter-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
  }

  #turn-meter::-webkit-meter-optimum-value {
    background-color: blue;
  }
  
  .meter-scale {
    display: flex;
    padding: 0;
    justify-content:space-between;
    list-style-type: none;
  }

  .wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "turn"
      "status"
      "map"
      "actions"
      "ticker";
  }
  
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header  header"
        "turn turn"
        "status actions"
        "map  map"
        "ticker ticker";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "header header  header"
        "turn turn turn"
        "status map actions"
        "ticker ticker ticker";
    }
  }  